$colour-primary: #e9cbce;
$colour-secondary: #8f5bfe;
$colour-accent: #D6FFF5;
$colour-txt: #322d36;
$colour-white: #FFF;
$colour-invalid: #DB464B;
$colour-success: green;
$colour-bg-nav: #f3e9f1;


$shake-intensity: 2%;

$anim-dur: 600ms;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$font-size: (small:2.5rem, medium:3rem, large:4rem, xl:6rem);
$line-size: (small:3.5rem, medium:4rem, large:6rem, xl:8rem);

$font-face: ('montserrat': 'montserrat.otf', 
            'milkman': 'milkmanconspiracy.ttf');

