.presentation, .our-promises {
    margin: auto;
    padding: 100px 0px;
    width: 50%;
    @media (max-width:992px) {
        width: 80%;
    }
    &__title {
        text-align: center;
        font-size: 6.5rem;
        color: $colour-txt;
        margin: 20px;
        @media (max-width: 992px) {
            font-size: map-get($font-size, medium);
        }
    }
    &__text {
        font-family: 'milkman', sans-serif;
        text-align: justify;
        font-size: 3.5rem;
        color: lighten($colour-txt, 15);
        line-height: 1;
        padding-top: 50px;
        @media (max-width: 992px) {
            font-size: 2rem;
        }
    }
}