.presentation, .our-promises {
    margin: auto;
    padding: 100px 0px;
    width: 50%;
    &__title {
        text-align: center;
        font-size: 6.5rem;
        color: $colour-txt;
        margin: 20px;
    }
    &__text {
        font-family: 'milkman', sans-serif;
        text-align: justify;
        font-size: 3.5rem;
        color: lighten($colour-txt, 15);
        line-height: 1;
        padding-top: 50px;
    }
}